@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pumpkin: #ff8c42ff;
  --delft-blue: #1c2d56ff;
  --silver-lake-blue: #6290c3ff;
  --rich-black: #0d1821ff;
  --maize: #fff275ff;
  --dark-color: rgb(13, 29, 43);
  --extra-color: rgb(13, 139, 211);

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: var(--pumpkin);
  --background-end-rgb: var(--maize);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
